/*background*/
body {
    background-image: url("../images/background5.jpg");
    background-size: cover;        
}

/*controls size of logo*/
#logo {
   /* height: 400px; */
    width: 700px;
}

/*centers logo*/
#logoDiv {
    text-align: center;    
}

/*centers form contents*/
.form-inline {
    text-align: center;   
}

/*input box size, shadow and coloration*/
.form-control {
    margin-right: 10px;
    height: 70px;
    font-family: Adobe Gothic Std;
    -webkit-box-shadow: inset 0px 5px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 5px 10px 2px rgba(0,0,0,0.75);
    box-shadow: inset 0px 5px 10px 2px rgba(0,0,0,0.75);
}

/*submit button font, size, shadow and coloration*/
#submitButton {
    background-color: #46e619;
    color: white;
    height: 70px;    
    font-family: Adobe Gothic Std;
    border-radius: 160px 160px 160px 160px;
    -moz-border-radius: 160px 160px 160px 160px;
    -webkit-border-radius: 160px 160px 160px 160px;    
    -webkit-box-shadow: -3px 9px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 9px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 9px 10px 0px rgba(0,0,0,0.75);
}

/*table row color */
#table {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: white;
    font-family: Adobe Gothic Std;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: -3px 9px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 9px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 9px 10px 0px rgba(0,0,0,0.75);
}

/*table heading font and color */
th {
    font-size: 30px;
    background-color: #46e619;
    color: #faf208;
}

/*table row color */
tr {
    color: black;
}


/*map icon size and placement */
.mapIcon {
    width: 5%;
    float: right;
}
  
/*footer text, text align, size, shadow and coloration*/
#footer {
    background-color: #46e619;
    width: 100%;
    color: white;
    text-align: center;
    height: 100%;
    padding: 20px;
    font-family: Calibri;
    font-size: 18px;
    border-top: 3px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;   
    border-color: white;     
}